$dark-blue: #022840;
$deep-blue: #1D4259;
$white: #D8E6F2;
$soft-grey: #ADC5D9;
$grey: #51718C;
$black: #0B0B0BFF;
$purple: #4750A6;
$orange: #8C3612;
$yellow: #8C8A0B;
$green: #2BCA20;
$red: #CA2C2E;
