@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "variables";


//Global Styles

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: $white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 30px;
}

h2 {

}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-size: 16px;
}

button {
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  border: none;
  color: $white;
}

input {
  outline: none;
  border-radius: 4px;
  padding: 5px;
  border: 2px solid $deep-blue;
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;

  &:focus {
    border-color: $purple;
  }
}

.container {
  margin: 0 auto;
  width: 90%;
}
